body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  
  .material-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  #next-button {
    display: block;
    margin: 20px auto;
  }
    

.correct-answer {
    background-color: #4CAF50;  /* Hintergrundfarbe für richtig beantwortete Optionen */
    color: #fff;  /* Textfarbe für richtig beantwortete Optionen */
    font-weight: bold;  /* Fettdruck für richtig beantwortete Optionen */
  }
.incorrect-answer {
    background-color: #c72626;  /* Hintergrundfarbe für falsch beantwortete Optionen */
    color: #fff;  /* Textfarbe für falsch beantwortete Optionen */
    font-weight: bold;  /* Fettdruck für falsch beantwortete Optionen */    
}
 
#question-prompt{
    font-weight: bold;  /* Fettdruck für Frage */
    margin-bottom: 10px;

  }



#export-button, #import-button, #show-text-button {
  position: fixed;
  bottom: 5px;
  right: 40px;
  font-size: 12px;
  padding: 5px;
  display: none;  /* Buttons standardmäßig ausblenden */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#export-button {
  right: 100px;
}

#show-text-button {
  right : 160px;
}
#text-container{
  position: fixed;
  bottom: 50px;
  right : 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  text-align: center;
  display: none;
}


#advanced-button {
  position: fixed;
  bottom: 5px;
  right: 20px;
  font-size: 12px;
  padding: 5px;
}